.container
  %form.well.form-inline{:name => "register form", :action => "/register", :method => "post"} 
    %input.input-small{:placeholder => "username", :type => "text", :name => "username"}
    %input.input-small{:placeholder => "password", :type => "password", :name => "password"}
    %input.input-small{:placeholder => "email", :type => "text", :name => "email"}
    %button.btn{:type => "submit"} Sign In
